;|=========================================|
;|                                         |
;|      Fix stripper by Dark Artistry      |
;|                                         |
;|=========================================|



;=====================================================================================>
;Исправлено баг в комнате с боссом | Fixed a bug in the boss room
;------------------------------------------------------------------------------------->
modify:
{
    match:
    {
        "targetname" "artifact_door"
        "classname" "func_door"
    }
    replace:
    {
        "spawnflags" "8"
    }
}
;------------------------------------------------------------------------------------->
