; --->
; > Fix stripper by Ponya
; > Contract me if you found a bug
; > /id/_Ponya_ ; - Pn.#5109
; --->

; What this stripper does:
;   -> This stripper fixed Spawn items on lvl 3
;   -> This stripper fixed beam damage
;   -> This stripper fixed OP bunnyhop
;   -> This stripper fixed broken stage 3 crouch boss attack 
;   -> This stripper changed and removed some logic_auto commands
;   -> This stripper fixed modifyspeed
;   -> This stripper fixed a push on 3rd stage at the end

; How can I use this stripper?
;   -> You need to load this stripper to the server


; --->
; Fixed Spawn items on lvl 3;
; --->
modify:
{
	match:
	{
	"hammerid" "2010245"
	"targetname" "lvl3_item_origin"
	"classname" "logic_case"
	}
	delete:
	{
	"OnCase01" "lvl3_item_spawnAddOutputorigin 811 -1313 727001"
	"OnCase02" "lvl3_item_spawnAddOutputorigin 6854 644 741201"
	"OnCase03" "lvl3_item_spawnAddOutputorigin 5116 3154 733201"
	"OnCase04" "lvl3_item_spawnAddOutputorigin 6034 5228 742401"
	"OnCase05" "lvl3_item_spawnAddOutputorigin -714 1350 294701"
	"OnCase06" "lvl3_item_spawnAddOutputorigin 3763 -1198 307101"
	}
	insert:
	{
	"OnCase01" "lvl3_item_spawnAddOutputorigin 286 242 364101"
	"OnCase02" "lvl3_item_spawnAddOutputorigin 3071 1193 366001"
	"OnCase03" "lvl3_item_spawnAddOutputorigin 1390 1905 303701"
	"OnCase04" "lvl3_item_spawnAddOutputorigin 3615 2862 398101"
	"OnCase05" "lvl3_item_spawnAddOutputorigin -714 1350 294701"
	"OnCase06" "lvl3_item_spawnAddOutputorigin 3763 -1198 307101"
	}
}
; --->
; Fixed Beam Damage
; --->
modify:
{
	match:
	{
		"targetname" "beam_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1000"
	}
}
; --->
; Fixed OP BunnyHop 
; --->
modify:
{
	match:
	{
		"targetname" "door6_1"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "commandCommandsv_enablebunnyhopping 120.051"
	}
}
modify:
{
	match:
	{
		"targetname" "door47_1"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "commandCommandsv_enablebunnyhopping 1301"
	}
}
; --->
; Fixed broken stage 3 crouch boss attack 
; --->
modify:
{
	match:
	{
		"targetname" "bosslvl3_tornado_hurt"
		"classname" "trigger_push"
		"origin" "87 5819.5 5255"
	}
	replace:
	{
		"origin" "87 5819.5 5265"
	}
}
; --->
; Fixed a push on 3rd stage at the end (No one has fixed this for 2 years....)
; --->
modify:
{
	match:
	{
		"targetname" "heli_move_fix"
		"classname" "trigger_push"
	}
    replace:
	{
		"spawnflags" "1"
        "model" "*279"
        "pushdir" "0 90 0"
	}
}
; --->
; Added push's point_template
; --->
modify:
{
	match:
	{
		"classname" "point_template"
        "hammerid" "2209055"
	}
	insert:
	{
		"Template12" "heli_move_fix"
	}
}
; --->
; Changed ModifySpeed 
; --->
modify:
{
    match:
    {
        "targetname" "elec_hurt"
        "classname" "trigger_hurt"
    }
    delete:
    {
        "OnStartTouch" "Map_SpeedModModifySpeed1.157-1"
    }
    insert:
    {
        "OnStartTouch" "Map_SpeedModModifySpeed17-1"
    }
}
; --->
; Changed and removed some logic_auto commands (for what?) & Credit
; --->
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "1423754"
	}
	delete:
	{
		"OnMapSpawn" "commandCommandzr_respawn_delay 200-1"
		"OnMapSpawn" "commandCommandzr_infect_mzombie_ratio 60-1"
		"OnMapSpawn" "commandCommandzr_respawn_team_zombie 10-1"
		"OnMapSpawn" "commandCommandzr_respawn_team_zombie_world 10-1"
		"OnMapSpawn" "commandCommandzr_zspawn 10-1"
		"OnMapSpawn" "commandCommandzr_zspawn_team_override 10-1"
		"OnMapSpawn" "commandCommandzr_zspawn_team_zombie 10-1"
		"OnMapSpawn" "commandCommandzr_zspawn_block_rejoin 00-1"
		"OnMapSpawn" "commandCommandzr_zspawn_timelimit 00-1"
		"OnMapSpawn" "commandCommandzr_respawn 10-1"
		"OnMapSpawn" "commandCommandmp_flashlight 10-1"
		"OnMapSpawn" "commandCommandmp_roundtime 200-1"
		"OnMapSpawn" "commandCommandmp_startmoney 160000-1"
	}
	insert:
	{
		"OnMapSpawn" "commandCommandmp_roundtime 300-1"
		"OnMapSpawn" "commandCommandsay | Map Fixed & Modified by Ponya [13.12.21] |  4-1"
	}
}
modify:
{
    match:
    {
        "targetname" "elec_hurt"
        "classname" "trigger_hurt"
    }
    delete:
    {
        "OnStartTouch" "Map_SpeedModModifySpeed1.157-1"
    }
    insert:
    {
        "OnStartTouch" "Map_SpeedModModifySpeed17-1"
    }
}
