;|=========================================|
;|                                         |
;|      Fix stripper by Dark Artistry      |
;|                                         |
;|=========================================|


;=====================================================================================>
;Меняем дамаг | replace damage
;=====================================================================================>
modify:
{
    match:
    {
        "targetname" "atackals3"
        "classname" "trigger_hurt"
    }
    replace:
    {
        "damage" "999"
    }
}
;------------------------------------------------------------------------------------->
modify:
{
    match:
    {
        "targetname" "atackals2"
        "classname" "trigger_hurt"
    }
    replace:
    {
        "damage" "999"
    }
}
;------------------------------------------------------------------------------------->
modify:
{
    match:
    {
        "targetname" "pr2_kp"
        "classname" "trigger_hurt"
    }
    replace:
    {
        "damage" "999"
    }
}
;------------------------------------------------------------------------------------->
modify:
{
    match:
    {
        "targetname" "hurtpsevdo12b"
        "classname" "trigger_hurt"
    }
    replace:
    {
        "damage" "999"
    }
}
;------------------------------------------------------------------------------------->
modify:
{
    match:
    {
        "targetname" "hurtpsevdo1" 
        "classname" "trigger_hurt"
    }
    replace:
    {
        "damage" "999"
    }
}
;------------------------------------------------------------------------------------->
