; --->
; ---> Fix stripper by Dark Artistry
; ---> fixed after using some items zombies have more speed than they should
; ---> исправлено после использования какой-либо материи зомби имеют большую скорость чем должны
; --->

modify:
{
    match:
    {
        "OnStartTouch" "speedModifySpeed1.155.05-1"
    }
    delete:
    {
        "OnStartTouch" "speedModifySpeed1.155.05-1"
    }
    insert:
    {
        "OnStartTouch" "speedModifySpeed15.05-1"
    }
}
modify:
{
    match:
    {
        "OnStartTouch" "speedModifySpeed1.158.05-1"
    }
    delete:
    {
        "OnStartTouch" "speedModifySpeed1.158.05-1"
    }
    insert:
    {
        "OnStartTouch" "speedModifySpeed18.05-1"
    }
}
modify:
{
    match:
    {
        "OnStartTouch" "speedModifySpeed1.155-1"
    }
    delete:
    {
        "OnStartTouch" "speedModifySpeed1.155-1"
    }
    insert:
    {
        "OnStartTouch" "speedModifySpeed15-1"
    }
}
modify:
{
    match:
    {
        "OnStartTouch" "speedModifySpeed1.157-1"
    }
    delete:
    {
        "OnStartTouch" "speedModifySpeed1.157-1"
    }
    insert:
    {
        "OnStartTouch" "speedModifySpeed17-1"
    }
}
